# Python stuff
__pycache__/
__pypackages__/

# Environments
.env
.venv
env/
.vscode/

# Project artifacts
data/
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep

# Audio and model files
*.wav
*.flac
*.mp3
*.m4a
*.pt
*.pth
*.ckpt
*.safetensors

# Notebook cache
src/notebooks/.ipynb_checkpoints/